.booking-details-containerg {
    background-image: url('../../images/image/booking-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    width: auto;
}